<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vova Moskalyuk CV</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <div class="logo">
          <a class="nav-link" href="#"><span>> </span>My SV</a>
        </div>
        <div class="hamburger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>

        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link hover--link" href="#"><span>.</span>home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link hover--link" href="./projects.html"
              ><span>.</span>projects</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link hover--link" href="#"><span>.</span>my hobby</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section>
        <div class="box_title">
          <h1 class="title">
            <span class="title-sub--green text-animation">Hello</span>
            <span class="title-sub--blue text-animation">this is</span><br />
            <span class="title-sub--two title-sub--orange text-animation"
              >my CV</span
            >
          </h1>
        </div>
        <div class="container">
          <div class="parallax"></div>
        </div>
      </section>
      <h3 class="title-inc"><span>👋</span>Briefly about me</h3>

      <section class="skills">
        <img
          src="../img/its_me.JPG"
          alt="Vova Moskalyuk"
          width="300px"
          class="user-img"
        />

        <div>
          <ul class="text-info">
            <li class="text-info-item">
              <p class="text-gray">name / last name:</p>
              <p class="text-info-sub">Vova Moskalyuk</p>
            </li>
            <li class="text-info-item">
              <p class="text-gray">b-day :</p>
              <p class="text-info-sub">22 July 2001</p>
            </li>
            <li class="text-info-item">
              <p class="text-gray">location :</p>
              <p class="text-info-sub">Snyatyn | Lviv</p>
            </li>
            <li class="text-info-item">
              <p class="text-gray">social :</p>
              <div class="social-list">
                <a
                  href="https://github.com/vovajr11"
                  target="_black"
                  class="social-list-item"
                >
                  <img
                    src="../img/icons/github.png"
                    alt="github link"
                    width="32"
                  />
                </a>
                <a
                  href="https://github.com/vovajr11"
                  target="_black"
                  class="social-list-item"
                >
                  <img
                    src="../img/icons/instagram.png"
                    alt="instagram link"
                    width="32"
                  />
                </a>
                <a
                  href="https://www.instagram.com/ya_vova_11/"
                  target="_black"
                  class="social-list-item"
                >
                  <img
                    src="../img/icons/linkedin.png"
                    alt="linkedin link"
                    width="32"
                  />
                </a>
              </div>
            </li>
          </ul>

          <p class="bio-text">
            C:/ I am currently studying at Lviv Polytechnic University. I love
            writing code. My stack: React Js, Redux, HTML\CSS(SCSS,
            StyledComponents), NodeJS basics (Express, MongoDB), GIT, Postman,
            Experience with requests for server.
            <a
              class="link_sv"
              target="_black"
              href="https://drive.google.com/file/d/1pabn1sOoIsY3dq6Klg5pYMfiedrRFQNg/view"
              >My SV (click)</a
            >
          </p>
        </div>
      </section>
    </main>

    <script src="../js/hamburg.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/baffle@0.3.6/dist/baffle.min.js"></script>
    <script src="../js/text.js"></script>
  </body>
</html>
