.user-img {
  margin: 0 auto;
}

.text-info {
  padding: 0 4rem;
  list-style: none;
}

.text-info-item {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}
.text-info-sub {
  font-size: 1.8rem;
  margin: 0;
  margin-left: 1rem;
}

.bio-text {
  padding: 0 4rem;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-item {
  width: 32px;
  height: 32px;
  display: block;
  border-radius: 15%;
  background: white;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .social-list-item {
    margin-right: 10px;
  }
}

@media (min-width: 1024px) {
  .skills {
    display: flex;
    padding: 0 3rem 3rem 3rem;
  }

  .text-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}
