.title-inc {
  padding: 0 3rem;
  font-size: 3rem;
}
.title-sub--orange {
  color: #ff5722;
}
.title-sub--green {
  color: #388e3c;
}

.title-sub--blue {
  color: #2196f3;
}
.title-sub--grey {
  color: #616161;
}
.text-size {
  text-align: justify;
  font-size: 1.6rem;
}
.text-gray {
  color: #757575;
  font-size: 1.5rem;
  margin: 0;
}

.link_sv {
  display: block;
  text-decoration: none;
  color: #2196f3;
}
