@import './components.css' screen;
@import './menu.css' screen;
@import './about-company.css' screen;

html {
  box-sizing: border-box;
  min-height: 100%;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto Mono';
  color: white;
  margin: 0 1rem;
  background-color: #000000;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 1.5rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  z-index: -1;
}

.logo {
  transition: 0.5s;
  margin: auto 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding: 2rem 5rem;
}
.logo:hover {
  transform: scale(1.2);
  transition: 1s;
}

.parallax {
  background: url(../img/buildings-768773_1920.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 400px;
}

@media screen and (max-width: 768px) {
  .line {
    width: 3rem;
    height: 0.3rem;
    background: white;
    margin: 0.5rem;
  }
}

.title {
  margin: 3rem 5rem 0;
  font-size: 5rem;
}

.title-sub--one {
  margin-left: -4rem;
}

.title-sub--two {
  margin-left: 4rem;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .title {
    font-size: 10rem;
  }

  .title-inc {
    font-size: 5rem;
  }

  .text-gray {
    font-size: 2.5rem;
  }

  .text-info-sub {
    font-size: 2.6rem;
  }
  .bio-text {
    padding: 0 3rem;
    font-size: 2.2rem;
  }
}

@media (min-width: 1025px) and (max-width: 1439px) {
  .title {
    font-size: 10rem;
  }

  .title-inc {
    font-size: 5rem;
  }

  .text-info-item {
    display: block;
  }

  .text-gray {
    font-size: 2.7rem;
  }

  .text-info-sub {
    font-size: 3rem;
  }
  .bio-text {
    font-size: 3rem;
  }
}

@media (min-width: 1440px) {
  .title {
    font-size: 10rem;
  }
  .title-inc {
    font-size: 6rem;
  }

  .text-info {
    display: flex;
    justify-content: space-between;
  }

  .text-info-item {
    display: block;
  }

  .text-gray {
    font-size: 3.2rem;
  }

  .text-info-sub {
    font-size: 3.5rem;
    margin: 0;
  }
  .bio-text {
    font-size: 3rem;
    padding: 0 4rem;
  }
}
